<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Home</h1>
        <p>Welcome to NewReddit </p>
    </div>


    <ul>
      <li>

        <button type="button" class="btn btn-secondary btn-lg">


        <a href="/griddemo">View Feeds</a>

      </button>
      <br> <br> <br>
        </li>
      <li>
          <button type="button" class="btn btn-secondary btn-lg">
        <a href="/myform">Create Post</a>
      </li>

    </ul>
<%- include('bootfooter') -%>
