<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Home</h1>
        <p>Tristan's Personal App</p>
    </div>
    <ul>
      <li><a href="/griddemo">View Feeds</a></li>
      <li><a href="/myform">Create Post</a></li>

    </ul>
<%- include('bootfooter') -%>
